<a href="https://colab.research.google.com/github/lhenriquear/API_DOTNET_MONGO/blob/master/CounterStrikeAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## STARTS HERE
import pandas as pd
#merge economy and results.csv as df1
results = pd.read_csv('results.csv')
economy =pd.read_csv('economy.csv')
df1 = pd.merge(results, economy, on=['match_id'])

In [2]:
df1.head()

       date_x team_1_x team_2_x  ... 28_winner  29_winner  30_winner
0  2020-03-01    Wings   Global  ...       1.0        1.0        NaN
1  2020-03-01    Wings   Global  ...       NaN        NaN        NaN
2  2020-03-01    Wings   Global  ...       NaN        NaN        NaN
3  2020-03-01    Wings   Global  ...       1.0        1.0        NaN
4  2020-03-01    Wings   Global  ...       NaN        NaN        NaN

[5 rows x 117 columns]

In [3]:
#Defining the target and separating target from predictors
y = df1.match_winner
X = df1.drop(['match_winner'], axis = 1)

In [5]:
# Divide data into training and validation subsets
from sklearn.model_selection import train_test_split
X_train_full, X_valid_full, y_train,y_valid =train_test_split (X,y, train_size = 0.8, test_size = 0.2, random_state = 42)

In [6]:
#SimpleInputer and Label Encoder
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

cols_with_missing = [col for col in X_train_full.columns if X_train_full[col].isnull().any()] 
X_train_full.drop(cols_with_missing, axis=1, inplace=True)
X_valid_full.drop(cols_with_missing, axis=1, inplace=True)

categorical_cols = [cname for cname in X_train_full.columns if X_train_full[cname].dtype == "object"]

numerical_cols = [cname for cname in X_train_full.columns if X_train_full[cname].dtype in ['int64', 'float64']]

my_cols = categorical_cols + numerical_cols
X_train = X_train_full[my_cols].copy()
X_valid = X_valid_full[my_cols].copy()

#Preprocessing steps
#Apply label enconder to each column with categorical data

numerical_transformer = SimpleImputer(strategy = 'constant')
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])
preprocessor = ColumnTransformer(
    transformers = [
                    ('num', numerical_transformer, numerical_cols),
                    ('cat', categorical_transformer, categorical_cols)
                  ])

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [7]:
#Defining model
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators=100, random_state=0)

my_pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                              ('model', model)
                             ])

my_pipeline.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('preprocessor',
                 ColumnTransformer(n_jobs=None, remainder='drop',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('num',
                                                  SimpleImputer(add_indicator=False,
                                                                copy=True,
                                                                fill_value=None,
                                                                missing_values=nan,
                                                                strategy='constant',
                                                                verbose=0),
                                                  ['result_1', 'result_2',
                                                   'map_winner', 'starting_ct',
                                                   'ct_1', 't_2', 't_1', 'ct_2',
                                                   'event...
                 RandomForestRegressor(bootstrap=True, ccp_alpha=0.0,
                                       criterion='mse', max_depth=None,
                                       max_features='auto', max_leaf_nodes=None,
                                       max_samples=None,
                                       min_impurity_decrease=0.0,
                                       min_impurity_split=None,
                                       min_samples_leaf=1, min_samples_split=2,
                                       min_weight_fraction_leaf=0.0,
                                       n_estimators=100, n_jobs=None,
                                       oob_score=False, random_state=0,
                                       verbose=0, warm_start=False))],
         verbose=False)

In [9]:
from sklearn.model_selection import cross_val_score

# Multiply by -1 since sklearn calculates *negative* MAE
scores = -1 * cross_val_score(my_pipeline, X, y,
                              cv=5,
                              scoring='neg_mean_absolute_error')

print("MAE scores:\n", scores)

MAE scores:
 [1.90249703e-05 1.98810939e-03 3.79548157e-03 3.32936980e-05
 4.75737393e-06]